@import "tailwindcss";
@import "@nuxt/ui";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@layer theme, base, utililty;
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  body {
    margin: 0 auto;
    min-height: 100%;
  }
}
